@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif !important;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color-1: #406af9;
  --primary-color-2: #ecf0fe;
}

.nav,
.nav-item,
.nav-link {
  padding: 0 !important;
  width: 100%;
}

.nav {
  gap: 12px;
}

.nav-item {
  padding: 12px !important;
  border-radius: 8px;
  background-color: var(--primary-color-2);
}

.nav-item:hover {
  /* background-color: var(--primary-color-1); */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

#Header {
  background-color: var(--primary-color-2);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.MainFrame {
  /* Header */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#Header > .MainFrame > * {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

#Header > .MainFrame > *:last-child {
  justify-content: flex-end;
}

#Header--Logo {
  height: 36px;
  /* margin: 0 12px; */
  /* line-height: 60px; */
  display: inline-block;
}

#Header--Title {
  margin: 0;
  display: inline-block;
}

#Body {
  height: calc(100vh - 60px);
}

#Body .MainFrame > *:first-child {
  /* Body */
  border-right: 1px solid rgba(0, 0, 0, 0.25);

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;

  height: 100%;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
